//CTA BUTTON
.cta-btn {
  background-image: $gradient;
  text-decoration: none;
  font-size: 1rem;

  &:focus {
    outline: none;
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    // background: $secondary-color;
    width: 60px;
    height: 100%;
    opacity: .5s;
    // filter: blur(30px);
    // transform: translate(-130px) skewX(-15deg);
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    // background: $primary-color;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0s;
    // filter: blur(30px);
    // transform: translate(-100px) scaleX(-15deg);


  }

  &:hover {
    background: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
  }

  &:hover:before {
    transform: translate(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
  }

  &:hover:after {
    transform: translate(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
  }
}

//FLOATIN BUTTON

.floating-btn {
    width: 10%;
    height: 10%;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $white-color;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50);
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: background 250ms ease-in;
    
    &:hover {
      background: $text;
      color: $text-inverse;
     
    }


}

